body {
    background-color: antiquewhite;

}

.news-articles {}


.header-section {
    position: relative;
    padding-top: 5%;
    font-size: smaller;
    color: black;
    background-color: azure;
}

.footer-section {
    position: relative;
    padding-bottom: 5%;
    font-size: smaller;
    color: black;
    background-color: azure;
}

.card-img-top {
    /* width: 100%; */
    height: 16rem;
    display: inline-flex;
}

.btn {}


.card {
    max-width: 350px;
    display: inline-flex;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: rgb(189, 188, 188) 2px solid;
}

.card-body {
    height: 11rem;

}

.main-card {
    padding-bottom: 10rem;
}

.card-title {
    font-size: small;
    font-weight: bold;
}

.card-text {
    font-size: small;
}

.card-source-name {
    font-size: smaller;
}

.break-title {}

.top-article-section {
    background-color: darkorange;
    
}

.breakingnews-section-div {
    background-color: rgb(226, 228, 228);

}

.entertainnews-section-div {
    background-color: rgb(215, 213, 213);
    align-items: stretch;
}

.tech-section{
    background-color: whitesmoke;
}

.latin-section{
    background-color: whitesmoke;
}