body {
    background-color: antiquewhite;
    text-align: center;
}

.header-section {
    position: relative;
    padding-top: 5%;
    font-size: smaller;
    color: black;
    background-color: azure;
}

.footer-section {
    position: relative;
    padding-bottom: 5%;
    font-size: smaller;
    color: black;
    background-color: azure;
}